name: coverage

on: [push]

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:0.25.2-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Generate coverage report
        run: |
          cargo tarpaulin --out xml --tests --all-features --exclude-files src/binding/**/* --exclude-files src/ffi/**/* --exclude-files src/macros.rs --exclude-files src/luaapi.rs --exclude-files src/compat.rs
      - name: Upload report to codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: false